
.element-with-scrollbar {
    max-height: 200px;
    overflow-y: auto; 
  }
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background:#2c3234;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #ef5a21;
    border-radius: 10px;
  
  }

  